<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <!--SpringMVC入口-控制中心-->
  <servlet>
    <servlet-name>console</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <!--默认会找WEB-INF下的/[servlet名称]-servlet.xml-->
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:springmvc-console.xml</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>console</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>

  <!--编码过滤器，处理Post方式的请求编码-->
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>
